@model Sporthall.WebUI.ViewModels.Workers.Managers.EditManagerInfoViewModel

<div class="row justify-content-between">
    <div class="col-md my-2">
        <div class="list-header">
            <i class="fas fa-user pr-1"></i>
            Профиль менеджера
        </div>
        <ul class="list overflow-auto" style="max-height:600px">
            @if (Model.UsersForSelect != null && Model.UsersForSelect.Count > 0)
            {
                @for (var i = 0; i < Model.UsersForSelect.Count; i++)
                {
                    <li>
                        <input type="hidden" asp-for="UsersForSelect[i].Id" />
                        <div class="row no-gutters justify-content-between align-items-center mb-3">
                            <div class="col-auto">
                                <div class="custom-control custom-radio">
                                    <input id="userRadio-@i" type="radio" asp-for="SelectedManagerUser.Id" value="@Model.UsersForSelect[i].Id" class="custom-control-input">
                                    <label class="custom-control-label" for="userRadio-@i"></label>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    @Model.UsersForSelect[i].FirstName @Model.UsersForSelect[i].LastName @Model.UsersForSelect[i].SurName
                                </div>
                                <div class="font-weight-normal">
                                    <i class="fas fa-user pr-1"></i>
                                    @@@Model.UsersForSelect[i].UserName @Model.UsersForSelect[i].Email
                                </div>
                                <div class="small">
                                    id: @Model.UsersForSelect[i].Id
                                </div>
                                <div>
                                    <a asp-area="" asp-controller="Profiles" asp-action="View" asp-route-id="@Model.UsersForSelect[i].Id" target="_blank">
                                        Просмотр
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-md my-2">
        <div class="list-header">
            <i class="far fa-building pr-1"></i>
            Залы где работает этот менеджер
        </div>
        <ul class="list overflow-auto" style="max-height:400px">
            @if (Model.HallSelects != null && Model.HallSelects.Count > 0)
            {
                @for (var i = 0; i < Model.HallSelects.Count; i++)
                {
                    <li>
                        <input type="hidden" asp-for="HallSelects[i].Model.Id" />
                        <div class="row no-gutters justify-content-between align-items-center mb-3">
                            <div class="col-auto">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" asp-for="HallSelects[i].Selected" class="custom-control-input" id="hallCheck-@i">
                                    <label class="custom-control-label" for="hallCheck-@i"></label>
                                </div>
                            </div>
                            <div class="col">
                                <div>
                                    @Model.HallSelects[i].Model.Name
                                </div>
                                <a asp-area="" asp-controller="Halls" asp-action="View" asp-route-id="@Model.HallSelects[i].Model.Id" target="_blank">Просмотр</a>
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<div asp-validation-summary="All"></div>
