@model List<Sporthall.WebUI.ViewModels.Trainings.Solo.ViewSoloTrainingViewModel>

@{
    ViewData["Title"] = "Индивидуальные тренеровки";
}

<div class="content shadow-sm">
    <div class="content-header rounded-top">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm my-3">
                <h6 class="content-title">
                    <i class="fas fa-info-circle pr-1"></i>
                    Индивидуальные тренеровки
                </h6>
            </div>
            @if (User.IsInRole("Manager") || User.IsInRole("GeneralManager"))
            {
                <div class="col-sm-auto my-3 text-sm-right">
                    <a asp-area="Trainings" asp-controller="Solo" asp-action="Add" class="content-title-text p-0 m-0" target="_blank">
                        Добавить индивидуальную тренеровку
                        <i class="fas fa-plus-circle pl-1"></i>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="content-body p-0">
        <table class="table table-light table-striped table-custom text-center m-0">
            <tr>
                <th>Описание</th>
                <th>Дата</th>
                <th>Время</th>
                <th>Зал</th>
                @if (User.IsInRole("Manager") || User.IsInRole("GeneralManager"))
                {
                    <th></th>
                    <th></th>
                }
                <th><i class="fas fa-info-circle"></i></th>
            </tr>
            @foreach (var soloTraining in Model)
            {
                <tr>
                    <td>@soloTraining.Description</td>
                    <td>@soloTraining.Date.ToShortDateString()</td>
                    <td>@soloTraining.BeginTime.ToString(@"hh\:mm") - @soloTraining.EndTime.ToString(@"hh\:mm")</td>

                    <td>
                        @if (soloTraining.Hall != null)
                        {
                            <a asp-area="" asp-controller="Halls" asp-action="View" asp-route-id="@soloTraining.Hall.Id">
                                @soloTraining.Hall.Description
                            </a>
                            @("(" + soloTraining.Hall.Address + ")")
                        }
                        else
                        {
                            @("нет информации")
                        }
                    </td>
                    @if (User.IsInRole("Manager") || User.IsInRole("GeneralManager"))
                    {
                        <td>
                            <a asp-area="Trainings" asp-controller="Solo" asp-action="Edit" asp-route-id="@soloTraining.Id" class="badge badge-warning" target="_blank">
                                Изменить
                            </a>
                        </td>
                        <td>
                            <a asp-area="Trainings" asp-controller="Solo" asp-action="Delete" asp-route-id="@soloTraining.Id" class="btn btn-outline-danger badge" target="_blank">
                                Удалить
                            </a>
                        </td>
                    }
                    <td><a asp-area="Trainings" asp-controller="Solo" asp-action="View" asp-route-id="@soloTraining.Id">Подробно</a></td>
                </tr>
            }
        </table>
    </div>
    <div class="content-footer rounded-bottom">
    </div>
</div>
